.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgba($color: #2d3e40, $alpha: 1);
    color: #fcfcfc;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0rem;
}
